* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}
.wrapper{
    margin: 0 auto;
    min-width: 240px;
    max-width: 1920px;
}
img {
    width: 100%;
    height: auto;
}

.nav {
    margin-top: -5px;
    text-align: center;
    background: #000000;
}

.nav h1 {
    padding: 15px 0;
    font-size: 3em;
    color: #ffffff;
    font-weight: bold;
}

ul.main-menu {
    list-style: none;
    text-align: center;
}

.main-menu li {
    display: inline-block;
    margin: 0 25px;
    line-height: 3.5;
}

.main-menu li:first-child {
    margin: 0 25px 0 0;
}

.main-menu li:hover {
    font-weight: bold;
    text-decoration: underline;
    transition: 0.5s;
}

.main-menu li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #ffffff;
}

.content {
    width: 100%;
    padding: 3rem 6rem;
    background: #fff198;
}

.content h2 {
    font-size: 2em;
    line-height: 2;
}

.content h4 {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}
.content p {
    font-size: 1rem;
    line-height: 1.5;
}
.list{
    margin: 20px 0 20px 20px;
}
.list li{
    line-height: 2;
    font-weight: bolder;
}