* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}

.wrapper {
    margin: 0 auto;
    min-width: 240px;
    max-width: 1200px;
}

img {
    width: 100%;
    height: auto;
}
/*style for placeholder in different browsers*/
::-webkit-input-placeholder {color:#000000;}
::-moz-placeholder          {color:#000000;}/* Firefox 19+ */
:-moz-placeholder           {color:#000000;}/* Firefox 18- */
:-ms-input-placeholder      {color:#000000;}

.top {
    position: relative
}

.request {
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -300px;
}

.request input {
    width: 150px;
    height: 35px;
    border: 1px solid #000000;
}
.request input[type="text"]{
    padding-left: 10px;
}

.request input:first-child {
    margin-left: 0;
}

.request input[type="submit"] {
    margin-top: 60px;
    background: #50bb0b;
}
.request input[type="submit"]:hover {
    background: #5bd90b;
}
.request input[type="submit"]:focus {
    background: #5bd90b;
}
.nav {
    margin-top: -10px;
    text-align: center;
    background: #000000;
}

.nav h1 {
    padding: 15px 0;
    font-size: 3em;
    color: #ffffff;
    font-weight: bold;
}

ul.main-menu {
    list-style: none;
    text-align: center;
}

.main-menu li {
    display: inline-block;
    margin: 0 25px;
    line-height: 3.5;
}

.main-menu li:first-child {
    margin: 0 25px 0 0;
}

.main-menu li:hover {
    text-decoration: underline;
    transition: 1s;
}

.main-menu li a {
    text-decoration: none;
    font-size: 1.2em;
    color: #ffffff;
}
.main{
    background: #fff198;
    padding: 3rem 6rem;
}

h2 {
    font-size: 2em;
    line-height: 2;
}

.content h4 {
    font-size: 1.5em;
    margin-bottom: 0.5rem;
}

.content p {
    font-size: 1rem;
    line-height: 1.5;
}

.list {
    margin: 20px 0 20px 20px;
}

.list li {
    line-height: 2;
    font-weight: bolder;
}
input:checked + label {
    background: #50bb0b;;
    color: white;
}
/*start style for tabs*/
/* ~ позволяет выбрать елементы которые находятся на одном уровне */
/*if checked input with attribut "tab-$" we use style for ".content .tab-$"*/
.tab-block input {
    display: none;
}

.tab-block input[id="tab-1"]:checked ~ .tab-content .tab-1,
.tab-block input[id="tab-2"]:checked ~ .tab-content .tab-2,
.tab-block input[id="tab-3"]:checked ~ .tab-content .tab-3 {
    display: block;
}

label {
    cursor: pointer;
    display: inline-block;
    padding: 10px 40px;
    background: grey;
    border-radius: 20px 20px 0 0;
}

.tab-content {
    position: relative;
}

.tab-1,.tab-2,.tab-3 {
    width: 100%;
    padding: 35px 0 25px;
    border-top: 5px solid #50bb0b;
    border-radius: 0 5px 5px 5px;
    line-height: 1.5;
    display: none;
}
/*start style for tabs*/
.news{
    padding: 13px 0 0;
    margin: 0 0 0 15px;
}
.img-holder{
    float:left;
}

.img-holder img {
    max-width: 130px;
}
.news-content {
    overflow: hidden;
    padding: 0 0 0 10px;
}
.news-content a{
    color: #58b006;
    font-size: 1rem;
}
.date {
    font-size: 12px;
    color: #9a9a9a;
}
footer{
  padding: 20px 6rem;
  background: #50bb0b;
  border-top: 3px solid #000000
}
footer h3, footer h3 a{
  padding: 15px 10px;
  font-size: 24px
}
footer p{
  padding: 15px 0;
  font-size: 20px;
  text-align: center;
  color: rgba(42, 41, 43, 0.97);
}
.hr{
  display: block;
  border-top: 1px solid #000000;
}
